@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.primary-btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    margin-bottom: 3.125rem;
}

/* nav section  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    text-align: center;
}

nav li a {
    text-decoration: none;
    margin-right: 60px;
    color: #424242;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

nav li {
    list-style: none;
}

/* banner section */

.banner {
    text-align: center;
    align-items: center;
}

.banner-content {

    max-width: 800px;
    margin: 0 auto;
    margin-top: 110px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-img {
    width: 100%;
}

/* team section */
.team {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 8.125rem;
    margin-top: 5rem;
    padding-left: 60px;
    padding-right: 60px;
}

.team-container {
    display: flex;
    align-items: center;

}

.team-pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content {
    max-width: 530px;
    padding-left: 70px;
}

.grey-text {

    color: var(--Dark-03, #727272);
    font-size: 2.8rem;
    font-weight: 500;
}

.black-text {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.orange-text {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.team-des,
.feature-des,
.feature-type-des {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* feature section */
.feature {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 8.125rem;
    margin-top: 5rem;

}

.feature-container {
    display: flex;
    justify-content: space-between;

}

.feature-content {
    width: 50%;
    padding-right: 9rem;
    padding-top: 2.5rem;
}


.feature-header {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
}

.feature-type-header {
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}

.feature-types {
    margin: 20px;
    padding: 30px;
}

.feature-img {
    width: 50%;
}

.feature-img img {
    width: 100%;
    margin-left: 50px;
}

.experience-div {
    text-align: center;
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    color: #FFF;
    position: relative;
    bottom: 80px;
    padding: 30px 25px;
}

.year {
    margin: 0;
    margin-bottom: 10px;
    font-size: 65px;
    font-weight: 700;
}

.experience {

    font-size: 25px;
    font-weight: 500;
}


/* responsive media query */
@media screen and (max-width:576px) {

    header,
    .team,
    .feature-content {
        padding: 10px;
    }

    nav,
    .team-container,
    .feature-container {
        flex-direction: column;
    }

    .experience-div {
        width: 250px;
        margin: 0 auto;
    }

    .feature-content {
        width: 100%;
    }

    .feature-img {
        width: 100%;
    }

    .feature-img img {
        margin: 0;
        width: 100%;
    }

    .team-pictures {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .team-content {
        padding: 10px;
    }

    nav li a {
        margin-right: 30px;
    }

    .experience-div {
        position: static;
    }


}

@media screen and (min-width:576px) and (max-width:960px) {

    header,
    .team,
    .feature-container {
        padding: 30px;
    }

    nav,
    .team-container,
    .feature-container {
        flex-direction: column;
    }

    .team-pictures {
        gap: 10px;
    }



    nav ul {

        margin: 0 auto;
        justify-content: space-around;
    }

    .nav-title {
        margin: 10px;
    }

    .team-content {
        padding: 20px;
    }


    .feature-img img {
        margin: 0;
        width: 100%;

    }

    .experience-div {
        position: static;
        margin: 0 auto;
    }
}